/* <reset-style> ============================ */
a {
  text-decoration: none;
}

/* ============================ N A V B A R ============================ */
.nav-btn {
  color: #fff;
  line-height: 2;
  position: relative;
}
.nav-btn::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.nav-btn:hover::before {
  width: 100%;
  left: 0;
}

/* Dark Mode/Light Mode */
.dark-mode-bg {
  background-color: #2b2b2b; /* or any color you want */
  /* Add transition property for smooth color change */
  transition: background-color 0.5s ease;
}
.light-mode-bg {
  background-color: #ffffff; /* or any color you want */
  /* Add transition property for smooth color change */
  transition: background-color 0.5s ease;
}
.dark-mode-underline.nav-btn::before {
  background-color: #fff;
}
.dark-mode-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23fff'%3e%3cpath stroke-linecap='round' stroke='%23fff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* Add transition property for smooth color change */
  transition: background-image 0.5s ease;
}
